* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #ECECEC;
}

html {
    font-family: 'Nunito', sans-serif;
}


.scroll_ned {


}


/* ----innledning seksjon--- */
.forside {
    margin: 0;
    height: 100vh;
    width: 100%;
    padding: 0;
    max-width: none;
    background-image: url("bilder/bGrunn/blad.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

/* meny*/


a {
    color: rgb(128, 0, 0);
    font-weight: bold;
    font-size: 18px;
}

.header .meny {
    max-height: 0px;
    clear: both;
}


/* ikon meny */

.header .meny_ikon {
    float: right;
    padding: 20px 20px;
    position: relative;
}


/* menu knapp */

.header .meny_knapp {
    display: none;
}

.header .meny_knapp:checked ~ .meny {
    max-height: 260px;
}

#mobil_meny_ikon {
    font-size: 23px;
    cursor: pointer;
}

/* header */

.header {
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 5;
    box-shadow: 1px -2px 4px 0;
    opacity: 98%;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f5f5f5;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(230, 230, 230);
}

.header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
}


/* overskrift styling */

.overskrift_forside {
    text-align: center;
    font-size: 10vh;
    background-color: white;
    opacity: 76%;
    font-weight: bold;
    left: 15%;
    margin-top: -10%;
    position: absolute;
    top: 50%;
    width: 70%;
}

/*

.overskrift_undertekst {
    background-color: white;
    width: 20%;
    margin-top: 12vh;
    padding-left: 5%;
    padding-right: 3%;
}

 */

.scroll_ned {
    text-align: right;
    margin-left: 5%;
    position: absolute;
    bottom: 3%;
    font-size: 20px;
    background-color: white;
    opacity: 70%;
    text-decoration: none;
}

/* ----about seksjon---- */

.about {
    height: 170vh;
    padding-top: 3vh;
}

#Challenge1 {
    font-size: 40px;
    max-width: 80%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 30px;
    letter-spacing: 2px;
}

#p1 {
    font-size: 20px;
    max-width: 80%;
    letter-spacing: 1.5px;
    line-height: 45px;
    margin: 0 auto;
    padding-bottom: 100px;
}

.about img {
    width: 100vw;
    height: 500px;
    object-fit: cover;
    padding-bottom: 100px;
}

#Challenge2 {
    font-size: 40px;
    text-align: center;
    padding-top: 20px;
    letter-spacing: 2px;
}

#p2 {
    max-width: 80%;
    width: 1000px;
    margin: 30px auto;
    padding: 20px;
    font-size: 20px;
    letter-spacing: 1.5px;
    line-height: 45px;
    text-align: center;
}

/*#button {
    text-align: center;
}

.about button {
    font-size: 20px;
    background-color: #CD342E;
    color: #FFFFFF;
    padding: 20px 20px;
    border-width: 0px;
    border-radius: 50px;

}*/

/* ----solution seksjon---- */

.solution {
    height: 50vh;
    background-color: lightcyan;
}

/* mobilversion */
@media (min-width: 768px) {
    .header .meny {
        clear: none;
        float: right;
        max-height: none;
    }
    .header .meny_ikon {
        display: none;
    }
    .header li {
        float: left;
    }
    .header li a {
        padding: 20px 30px;
    }
}
.sources {
    background-color: white;
    opacity: 76%;
    font-weight: bold;
    left: 15%;
    position: absolute;
    top: 10%;
    width: 70%;
    margin-bottom: 35px;
}
.sources_Title {
    text-align: center;
    font-size: 6vh;
    font-weight: bold;
    left: 15%;
}
.sources li {
    padding: 5px;
    margin: 10px;
    position: relative;
    left: 2%;
    

}
.sources ul {    
    padding: 3px;
    margin-left: 25px;
    position: relative;
    left: 10%;
    margin-right: 25px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    height: auto;
    flex-wrap: wrap;

}
.sources h2 {
    font-weight: bold;
}

